<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.mydayapplication"
    tools:ignore="GoogleAppIndexingWarning">

    <application
        android:allowBackup="true"
        android:icon="@drawable/img_app_icon"
        android:label="@string/act_splash_label_app_name"
        android:roundIcon="@drawable/img_app_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".activity.SplashActivity"
            android:label="@string/act_splash_label_app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.LandingActivity1" />
        <activity android:name=".activity.LandingActivity2" />
        <activity android:name=".activity.LandingActivity3" />
        <activity android:name=".activity.LandingActivity4" />
        <activity android:name=".activity.SetPasscodeActivity" />
        <activity android:name=".activity.MainActivity" />
        <activity
            android:name=".activity.NewDayActivity"
            android:parentActivityName=".activity.MainActivity" />
        <activity
            android:name=".activity.MyMoneyActivity"
            android:parentActivityName=".activity.MainActivity" />
        <activity
            android:name=".activity.RemoveMoneyActivity"
            android:parentActivityName=".activity.MainActivity" />
        <activity
            android:name=".activity.AddMoneyActivity"
            android:parentActivityName=".activity.MainActivity" />
    </application>
</manifest>